@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

:root {
    --main-bg-color: #fdf4f4;
    --hdr-nav-color: #111010b0;
    --main-font-Source:'Source Code Pro', monospace;

    --main-font-advent:'Advent Pro', sans-serif;
    --font-radjhani:'Rajdhani', sans-serif;

    --box-shadow-1: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --box-shadow-2: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   

   
   
}

body {
    height: 125vh;
    letter-spacing: 2px;
    background: linear-gradient(to left, #181a19, #1e1e4e);
    font-family: var(--font-radjhani);
}


header {
    height: 10vh;
    width: 100%;
    top: -0.5vh;

    position: fixed;
    z-index: 2;
    background-color: var(--hdr-nav-color);
  
}

.header-navbar {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: inherit;
    
}

#mylogo {
    max-height: 3vw;
    position: relative;
    left: 10vw;

}


.overview-content {
    background-image: url(./images/my_image_1.png);
    background-size: cover;
    background-attachment: scroll, fixed;
    background-position: 250px -240px, 50% 100%;
    background-repeat: no-repeat;
    position: relative;
    margin: 10vh 0 0 0;
    width: auto, 100%;
    height: 80vh;

    color: white;

}


.overview-content > h1 {
    margin: 0 0 25px 0;
    font-size: 2.5em;
    
}

.overview-content > h2 {
    margin: 5vh 0 0 0;

}

.overview-content > p {
    font-size: 1em;
    color: white;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 30px;

    width: fit-content;
}


.overview-content > h1, p, h2 {
    position: relative;
    top: 10vh;
    left: 3vw;
    width: fit-content;   

}

.overview-img > img {
    max-width: 100%;    
    float: right;
    
    position: absolute;
    top: 10vh;
    left: 64vw;
    z-index: 1;

}

.expertise-section {
    position: relative;
    height: fit-content;
    width: fit-content;
    top: 20px;
    display: flex;
}

.expertise-li-item-section {
    position: relative;
    top: 50px;
    margin-left: 50px;
    display: flex;
}

.expertise-li-item-section > li {
    list-style: none;
    padding: 10px;
}

#expertise-li-item {
    max-width: 3vw;
    position: relative;
    height: fit-content;
    width: fit-content;
}


.container-nxtpg {
    position: relative;
    width: fit-content;
    left: 20vw;
    
}

.container-nxtpg > ul {
    display: flex;
    width: inherit;

}

.nxtpg-item {
    padding: 5px;
    list-style: none;
    
}

#nxtpg-proj {
    background-color: rgb(20, 24, 19);
    color: white;

}

.nxtpg-item > button {
    padding: 10px;
    border-radius: 20px;
}

.nxtpg-item > button:hover {
    cursor:help;
}




.experience {
    position: relative;
    height: 50vh;
    background-color: #c0d314;
    font-family: var(--font-radjhani);
    display: flex;
  
}

.experience > h2 {
    position: absolute;
    left: -1vw;
    top: 5vh;
    font-size: 2.5em;
    font-family: var(--main-font-advent);
    letter-spacing: 5px;
    align-self: center;
    color: white;
    box-shadow: var(--box-shadow-1);
    padding: 20px 30px 20px 6em;
    background-color: #180606;
    width: fit-content;
    border-radius: 0 40px 40px 10px;

}

nav {
    width: 100%;
    position: relative;
    top: 13vh;
}

.nav-exp {
    display: flex;
    height: fit-content;
    align-items: center;
    text-align: center;
    float: right;
    margin: 0 20px 0 0;
    
    
  
}

.nav-exp > li {
    list-style: none;
    box-shadow: var(--box-shadow-1);

    height: fit-content;
    margin: 9vh 0 0 1vw;
    display: flex;
    border-radius: 5px;
    background-color: white;
    font-family:  'Times New Roman', Times, serif !important;
    font-size: 15px;
    
}

.nav-exp-img  {
    text-align: center;
    width: fit-content;
    height: auto;
    max-width: 10vw;

}

#wrk-time {
    align-self: center;
    text-align: left;
    margin: 0 0 0 1px;
    font-size: 18px;
    border: 1.5px solid black;
    padding: 3px
}


.nav-exp > li:hover {
    transform: scale(1.2);
}

.duxstyle-header {
    position: relative;
    display: flex;
    justify-content: center;
}

.duxstyle-header > img {
    box-shadow: var(--box-shadow-2);
    position: relative; 
    top: 20px;
}

.duxstyle-container {
    width: 100%
}


.duxstyle-main {
    display: flex;
    justify-content: center;
    
}

.duxstyle-img-container {
    position: relative;
    width: 100%;
    margin: 7vh 0 0 0;
}

.duxstyle-main > img {
    box-shadow: var(--box-shadow-2);
 
    border-radius: 0 10px 10px 0;
}

.duxstyle-main {
    display: flex;

}

.duxstyle-content {
    margin: 10vh 5vw 0 5vw;
    position: relative;
   
    height: 60vh;
}

.duxstyle-content > h1 {
    position: relative;
  
}

.duxstyle-content > p {
    position: relative;
    left: 4px;
 
}

.duxstyle-content > span {
    position: absolute;
    top: 330px;
    left: 8px;
    font-size: 1.5em;
}

.duxstyle-content > button {
    height: 50px;
    width: 170px;
    top: 60vh;
    right: 47.5vw;
    position: absolute;
    margin: 5vh 0 0 21.6em;
    background-color: rgb(255, 255, 255);

    font-size: 1.2em;
}

.returnarrow {
    width: 130px;
    height: 40px;
    
    position: absolute;
    display: flex;

    top: 8vh;
    left: 5vh;

}

.returnarrow > span {
    position: relative;
    margin: 10px 0 0 15px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    position: relative;
    top: 40px;
    color: white;
}

.contacts {
    width: fit-content;
    height: fit-content;

}

#footer-contacts {
    position: relative;
    bottom: 50px;
    left: 5px;
    text-align: center;
    width: 100%;
  
    color: white;
}

.contact-li {
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.contact-li > img {
    max-width: 5vw;
    padding: 10px;
}

@media (max-width: 1300px) {
    body {
      display: none;
    }
  }
  